html {
  overflow-x: hidden;
}

.app {
  width: 100%;
  margin-top: 5rem;
}

.girlazo {
  position: relative;
  width: 100%;
  display: block;
  left: 30%;
}

.header {
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.footer {
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.footer > a {
  color: cornflowerblue;
}

.asset {
  position: absolute;
  margin: auto auto;
  width: 40%;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
